Arduino
Desktop
Documents
Downloads
Music
NBGI
Steam
Sync
Videos
VirtualBox*
devel
go
lmms
node_modules
nohup.out
snap
ubuntu12_32
linux32
Pictures
.ICEauthority
.Osmos
.PhpStorm*
.PyCharm*
.WebStorm*
.Xauthority
.hist* 
.bash_history
.config
bin
net*
.PlayOnLinux/
.android/
.arduino*
.aspell*
.atom/
.audacity-data/
.awesome-errors
.bcast/
.bundle/
.byobu/
.cache/
.cargo/
.cassandra/
.cinnamon/
.cups/
.cxoffice/
.dbshell
.dbus/
.designer/
.dia/
.dir_colors
.directory
.dlv/
.dmrc
.dontpanic/
.dotnet/
.dreamchess/
.dvdcss/
.e/
.electron-gyp/
.electron/
.elementary/
.emulator_console_auth_token
.esd_auth
.expo/
.face
.face.icon
.fceux/
.fltk/
.fluxbox/
.fontconfig/
.fonts.conf
.frictionalgames/
.fsm*
.gconf/
.gimp*
.gitconfig
.gitkraken/
.gnome/
.gnupg/
.gradle/
.gstreamer-0.10/
.gtk-recordmydesktop
.gtkrc*
.gtkrc_afterstep
.httpie/
.hydrogen/
.icon
.icons/
.idlerc/
.imwheelrc
.install4j
.ipython/
.jak/
.java/
.jupyter/
.kde4/
.kingsoft/
.kobodlrc
.lesshst
.links/
.list.tasks
.lmmsrc.xml
.local/
.lyx/
.macromedia/
.matlab/
.minikube/
.mongorc.js
.mono/
.mozilla/
.mysql/
.mysql_history
.ncpamixer.conf
.netrc
.newsboat/
.ninja_ide/
.node-gyp/
.node_repl_history
.npm/
.nv/
.nvidia-settings-rc
.octave_hist
.openshot/
.openshot_qt/
.oracle_jre_usage/
.pcsxr/
.pgadmin3
.php_history
.phpls/
.pki/
.platformio/
.portugol/
.profile
.psql_history
.pulse-cookie
.pylint.d/
.python-history
.python_history
.qmc2/
.recently-used
.rnd
.rstudio-desktop/
.screenlayout/
.snes9x/
.sqlite_history
.ssh/
.steam/
.steampath
.steampid
.subversion/
.sudo_as_admin_successful
.surf/
.swt/
.sync
.texlive*
.themes/
.thumbnails/
.tig_history
.tkdesk/
.tooling/
.v8flags*
.var/
.viminfo
.virtualenvs
.vnc/
.vscode/
.wget-hsts
.wicd/
.wine/
.wmndrc
.xboardrc
.xchat2/
.xdvirc
.xinitrc
.xsession-errors
.xsession-errors.old
.yarnrc
.zcompdump
.zoom/
.zshenv
.zsnes/
.zynaddsubfx-bank-cache.xml
.zynaddsubfxXML.cfg
.3T/
.GoLand2019.3/
.aqemu/
.ccache/
.jssc/
.lcars/
.leo/
.xdp_tt.JI0RE0
GolandProjects/
SEGA Mega Drive Classics/
Unity/
backup/
.config/nitrogen/bg-saved.cfg
.config/nitrogen/nitrogen.cfg

